<div class="card">
    @if(product.isOffer) {
        <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
        style="width: 35px; height: 35px;position: absolute;right: 0;">
        <p class="text-white mb-0 small">Offer</p>
    </div>
    }
    
    <div [class]="product.availableQty == 0 ? 'bg-danger rounded-circle d-flex align-items-center justify-content-center shadow-1-strong':'bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong'"
        style="width: 35px; height: 35px;position: absolute;left: 0;">
        <span class="fw-bold">{{product.availableQty}}</span>
    </div> 
    <img [src]="product.imageUrl"
        class="card-img-top" alt="Laptop" /> 
    <div class="card-body pb-1">
        <div class="d-flex justify-content-between">
            <p class="small"><a href="#!" class="text-muted">{{product.category}}</a></p>
            <p class="small text-danger"><s>${{product.price}}</s></p>
        </div> 
        <div class="d-flex justify-content-between mb-3">
            <h5 class="mb-0">{{product.productName}}</h5>
            <h5 class="text-dark mb-0">${{getDiscountedPrice(product)}}</h5>
        </div> 
        <div class="d-flex justify-content-between mb-0">
            <div class="text-warning">
                <i [class]="product.rating > 0? 'fa fa-star': 'fa fa-star-o'"></i>
                <i [class]="product.rating > 1? 'fa fa-star': 'fa fa-star-o'"></i>
                <i [class]="product.rating > 2? 'fa fa-star': 'fa fa-star-o'"></i>
                <i [class]="product.rating > 3? 'fa fa-star': 'fa fa-star-o'"></i>
                <i [class]="product.rating > 4? 'fa fa-star': 'fa fa-star-o'"></i>

                 
            </div>
            @if(product.availableQty == 0 ) {
                <button type="button"  class="btn btn-outline-secondary">Out Of Stock</button>
            } @else {
                <button type="button"  class="btn btn-outline-primary" (click)="addToCart(product)">Buy now</button>
            } 
        </div>
    </div>
</div>